extends layout

include _includes/sharedHTMLfunctions

block content
  h1= title
  //- Header for holding search bar and dropdowns for location and otherwise.
  .row.list-group
    .col-xs-12.col-sm-12.col-md-12.col-lg-12
      .row
        .col-xs-12.list-group-item.input-group
         input.form-control(type="text", placeholder="Search")

      .row.list-group
        .col-xs-6.list-group-item
          button.btn.btn-primary(type="button") Places
          button(class="btn btn-primary dropdown-toggle", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false")
            span.caret
            span.sr-only Toggle Dropdown
          ul.dropdown-menu
            li
              a(href='#') Windsor
            li
              a(href='#') Narnia
            li
              a(href='#') Kyoto

        .col-xs-6.list-group-item
          button.btn.btn-primary(type="button") Places
          button(class="btn btn-primary dropdown-toggle", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false")
            span.caret
            span.sr-only Toggle Dropdown
          ul.dropdown-menu
            li
              a(href='#') Windsor
            li
              a(href='#') Narnia
            li
              a(href='#') Kyoto

  //- Loop entry creation, pulls all location json data from directory
  //- controller and builds listings
  .row
    .col-xs-12.col-sm-8.col-md-6.col-lg-6
      .row.list-group
        each location in locations
          .col-xs-12.list-group-item
            h4
              a(href="/location")= location.name
              small &nbsp;
                +outputRating(location.rating)
              span.badge.pull-right.badge-default= location.distance
            p.address= location.address
            p
              each facility in location.facilities
                span.label.label-warning= facility
                &nbsp;

    .col-xs-12.col-sm-4
     p.lead= sidebar
